@import 'primeicons/primeicons.css';
@import "tailwindcss";
@plugin "tailwindcss-primeui";

.p-datatable-header {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    overflow: hidden;
}
.p-datatable-paginator-bottom {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}