@import 'primeicons/primeicons.css';
@import "tailwindcss";
@plugin "tailwindcss-primeui";

.p-datatable-header {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    overflow: hidden;
}
.p-datatable-paginator-bottom {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.p-chip {
    background-color: #41b883!important;
    color:white!important;
    padding-block:unset!important;
    font-weight: 200!important;
}